  <% news.forEach(function(item) { %>
  <div class="post-content">
    <div class="row">
      <div class="col-md-4">
        <a class="post-img" href="/single/<%= item._id %>"
          ><img src="/uploads/<%= item.newsImage %>" alt=""
        /></a>
      </div>
      <div class="col-md-8">
        <div class="inner-content clearfix">
          <h3>
            <a href="/single/<%= item._id %>"><%= item.newsTitle %></a>
          </h3>
          <div class="post-information">
            <span>
              <i class="fa fa-tags" aria-hidden="true"></i>
              <a href="/category/<%= item.category.slug %>"><%= item.category.categoryName %></a>
            </span>
            <span>
              <i class="fa fa-user" aria-hidden="true"></i>
              <a href="/author/<%= item.author._id %>"
                ><%= item.author.fullname %></a
              >
            </span>
            <span>
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <%= item.createdAt.toLocaleString() %>
            </span>
          </div>
          <p class="description">
            <%= item.newsDescription.replace(/<[^>]*>/g, '') %>
          </p>
          <a class="read-more pull-right" href="/single/<%= item._id %>"
            >read more</a
          >
        </div>
      </div>
    </div>
  </div>
  <% }); %>
